page-home {

}
ion-item-options > button{
  width: 60px;
}
.toast-danger{
  .toast-wrapper {
    background-color: #ec5d5d;
  }
}
.toast-success{
  .toast-wrapper {
    background-color: #37d23e;
  }
}
.toast-primary{
  .toast-wrapper {
    background-color: #468df5;
  }
}
